@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pratical Test</h1>
    <p class="lead">
        The main goal of this test is provide an opportunity to the job applicant demonstrate
        his/her knowledge, developing an application in the .NET platform. For this, will be provided a database created following the requirements.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>More...</h2>
        <p>
            The job applicant is free to choose the way and the technologies used to develop the
            requirements. The only rule is delivery a developed solution according to the requirements with Asp.Net MVC framework or Asp.Net Web Forms framework.
        </p>
        <p>
            The solution should be delivered by email within 48 hours from receive. You must use
            Box.com (and send share link) to host your solution or GitHub. Along with the email with the
            solution should be listed all technologies that the applicant would like to highlight in the
            project
        </p>
    </div>
    <div class="col-md-4">
        <h2>Solution to be implemented</h2>
        <p>A small business of sales is looking for a system to manage the customer contact. The
        system should show a login page every time a user try to access the site. In this page, the sellers
        should be identified using the email account of the company and his/her password in the
        system. After a successfully login, the sellers must see and search for some data and
        classification (VIP, Regular and Sporadic) of his/her clients and plan his/her future sales with the
        information. Currently, the company operates only in Porto Alegre, but in the future, there is an
        expansion plan to other cities. For a better administration and system control, the company
        would like a user with full access to contacts of all sellers. </p>
    </div>
    <div class="col-md-4">
        <h2>Contact info </h2>
        <p>If you have any question, contact the developer for more details. (31) 3025 3827.</p>
        <p><a class="btn btn-default" href="mailto:tfbarros@stefanini.com">tfbarros@stefanini.com</a></p>
    </div>
</div>